body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 30px;
}

label {
    margin-right: 10px;
    font-weight: bold;
}

select {
    padding: 5px;
    font-size: 16px;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    padding-bottom: 5vh;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 5vh;
}

.movies-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.movie-card {
    background-color: #fff;
    max-width: 300px; 
    margin: 0 auto; 
    border: solid 1.5px black;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    text-align: center; 
    padding: 20px; 
    overflow: hidden;
}

.movie-poster {
    max-width: 100%;
    height: auto;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 1.5%;
}

.pagination button {
    padding: 10px 15px;
    margin: 0 5px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.pagination button:hover {
    background-color: #0056b3;
}

.navbar {
    background-color: #555353;
    padding: 10px 0;
    max-height: 3rem;
    justify-content: center;
    align-items: center;
}

.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #007bff;
}

.favoriteButton:hover{
    transition: color 0.2s;
    color: rgb(234, 34, 34);
}

#searchButton {
    background-color: #007bff;
    color: white;
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#searchButton:hover {
    background-color: #0056b3;
}

/* css for movie-card */
h3 {
    font-size: 18px; 
    margin: 10px 0; 
}

p {
    font-size: 14px; 
    color: #888; 
}


@media (max-width: 600px) {
    .navbar {
        padding: 5px 0;
    }

    .navbar ul {
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .navbar li {
        margin: 5px 0;
    }

    .navbar a {
        font-size: 16px;
    }
}